<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&display=swap" rel="stylesheet">
    <title>Página en Construcción - Union</title>
    <link rel="stylesheet" href="../public/estilos/style_gracias.css">
    <link rel="shortcut icon" href="../public/imagenes/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="pagina">
        <div class="gracias">
            <img src="../public/imagenes/gracias-por-suscribirte-1024x746.png" alt="Gracias por suscribirte">
            <div><a class="link" href="index.html">Volver a inicio</a></div>
        </div>
    </div>
</body>

</html>